.App {
  padding: 50px 30px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-bar-logo__div {
  display: flex;
}

.nav-bar-links__ul {
  display: flex;
  padding: 0px;
  list-style-type: none;
}

.nav-bar-link__li {
  margin-left: 20px;
}

.header__div {
  display: flex;
  border: 1px solid black;
  align-items: center;
  padding: 30px;
}

.header-heading__div {
  /* width: 400px; */
  border: 1px solid red;
}

.header-heading__h1 {
  font-size: 48px;
}

.header-heading__h2 {
  font-size: 36px;
}

.header-buttons__div {
  display: flex;
  flex-direction: column;
  border: 1px solid orange;
}

.header__button {
  width: 300px;
  padding: 20px 30px;
  margin: 10px;
  font-size: 32px;
}

.stories__div {
  display: flex;
  flex-direction: row;
  border: 1px solid forestgreen;
}

.stories__ul {
  border: 1px solid yellowgreen;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stories__story {
  border: 1px solid maroon;
}

.stories__story--text {
  padding: 30px 20px;
  font-size: 24px;
}

.copy__div {
  display: flex;
  padding: 30px 10px;
  justify-content: space-between;
  border: 1px solid darkgreen;
}

.copy-images__div {
  margin: 10px;
  border: 1px solid darkblue;
}

.copy-text__div {
  margin: 10px;
  border: 1px solid darkred;
}

.copy-text__button {
  padding: 20px 30px;
  font-size: 24px;
}

.footer__div {
  border: 1px solid lightcoral;
  padding: 40px 0px;
  /* display: flex;
  flex-direction: row; */
}

.footer__ul {
  border: 1px solid lightgreen;
}

.footer__div {
  border: 1px solid chartreuse;
}

.footer__ul {
  border: 1px solid lightsalmon;
}
